<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:Tenant" value="[Enter your tenant, e.g. contoso.onmicrosoft.com]" />
    <add key="ida:ClientId" value="[Enter your clientId, e.g. f7ce6223-8fe1-4199-b229-bfbe2b5209a0]" />
    <add key="ida:RedirectUri" value="[Enter your redirect Uri, e.g. http://DirectorySearcher]" />
    <add key="ida:GraphResourceId" value="https://graph.windows.net/" />
    <add key="ida:GraphApiVersion" value="1.5" />
    <add key="ida:GraphEndpoint" value="https://graph.windows.net/" />
  </appSettings>
</configuration>